* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    min-height: 100vh;
    color: #fff;
}

.guess, .thank {
    width: 300px;
    border-radius: 50px;
    box-shadow:  0 10px 25px rgba(0, 0, 0, 0.5);
}
.output {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    padding: 10px 15px;
}
button {
    padding: 10px 15px;
}